<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="../styles/output.css">

</head>
<body>
    <!-- ================= HEADER / NAVBAR =================  -->

 <header class="bg-blue-500 shadow-sm sticky top-0 z-50">


<!-- ===== EVENT MENU ===== -->

  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <ul class="flex gap-6 text-sm sm:text-base font-medium py-3">
      <li>
        <a href="#overview" class="text-white border-b-2 border-primary pb-1">
          Overview
        </a>
      </li>
      <li>
        <a href="#schedule" class="text-white hover:text-primary">
          Schedule
        </a>
      </li>
      <li>
        <a href="#tickets" class="text-white hover:text-primary">
          Tickets
        </a>
      </li>
      <li>
        <a href="#location" class="text-white hover:text-primary">
          Location
        </a>
      </li>
    </ul>
  </div>

</header>
</body>
</html>